@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --section-margin: 20px;
  --footer-padding: 20px;
  --card-height: 100%;
  --navbar-height: 60px;
  --header-footer-color: #f8f9fa;

  --padding-desktop: 15%;

  --primary-color: #539e8a;
  --secondary-color: #f6c5be;
  --dark-bg-text-color: #fae2de;

  --hover-color: #539e8adb;

  --btn-border-radius: 50px;
  --card-border-radius: 20px;

  --shadow-cards: 0px 10px 10px 0px #c5c5c5b3;
  --hover-shadow-cards: 0px 5px 5px 0 #9c9c9cb3;
  --shadow-active: 0px 3px 3px 0 #7d7d7db3;
  --shadow-menu-cards: 0 0px 10px 0 #c5c5c5b3;
  --hover-shadow-menu-cards: 0px 0px 5px 0px #a2a2a2b3;

  --transition: 0.3s;

  --transform: scale(0.99);
  --transform-active: scale(0.96);
  --transition-active: 0.1s;
}

body {
  margin: 0px;
  height: 100%;
  font-family: "Outfit", sans-serif;
  background-color: rgb(242, 242, 242);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Fugaz One", sans-serif;
  }
}

section {
  scroll-margin-top: calc(var(--navbar-height) + 3rem);
}

header {
  height: var(--navbar-height);
}

.navbar-custom {
  /* padding: 10px 0; */
  background-color: var(--primary-color);
  height: var(--navbar-height);
  /* .header-logo {
    height: 30px;
  } */
}

#about-me {
  background-color: var(--primary-color);
  height: 100vh;
  /* height: calc(100vh + 60px); */
  /* height: 100vh; */
}

#about-me .row-about {
  padding-top: 60px;
  position: relative;
}

#about-me p {
  font-size: 20px;
}

#about-me .img-container {
  width: auto;
}

#about-me .rob-photo {
  object-fit: cover;
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

#about-me .arrow-container {
  position: absolute;
  align-self: flex-end;
  justify-content: center;
  font-size: 30px;
}

@media screen and (min-width: 1024px) {
  .custom-padding-lg {
    padding-left: var(--padding-desktop);
    padding-right: var(--padding-desktop);
  }
  #about-me .row-about {
    justify-content: space-between;
  }
}
