@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --section-margin: 20px;
  --footer-padding: 20px;
  --card-height: 100%;
  --navbar-height: 60px;
  --header-footer-color: #f8f9fa;

  --padding-desktop: 15%;

  --primary-color: #539e8a;
  --secondary-color: #f6c5be;
  --dark-bg-text-color: #fae2de;

  --hover-color: #539e8adb;

  --btn-border-radius: 50px;
  --card-border-radius: 20px;

  --shadow-cards: 0px 10px 10px 0px #c5c5c5b3;
  --hover-shadow-cards: 0px 5px 5px 0 #9c9c9cb3;
  --shadow-active: 0px 3px 3px 0 #7d7d7db3;
  --shadow-menu-cards: 0 0px 10px 0 #c5c5c5b3;
  --hover-shadow-menu-cards: 0px 0px 5px 0px #a2a2a2b3;

  --transition: 0.3s;

  --transform: scale(0.99);
  --transform-active: scale(0.96);
  --transition-active: 0.1s;
}

body {
  margin: 0px;
  height: 100%;
  font-family: "Outfit", sans-serif;
  background-color: rgb(242, 242, 242);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Fugaz One", sans-serif;
  }
}

/* section {
  scroll-margin-top: var(--navbar-height);
} */

header {
  height: var(--navbar-height);
}

.navbar-custom {
  background-color: var(--primary-color);
  height: var(--navbar-height);
}

#about-me p {
  font-size: 20px;
}

#about-me .rob-photo {
  width: 300px;
}

#about-me .arrow-container {
  position: absolute;
  align-self: flex-end;
  justify-content: center;
  font-size: 30px;
}

.swiper-matching-height {
  height: 450px;
}

.swiper-slide-homepage {
  height: 100%;
}

.subpage-swiper-slide {
  height: 405px;
  position: relative;
  overflow: hidden;
}

.subpage-swiper-slide .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.subpage-swiper-slide .image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  right: -40%;
  bottom: -40%;
  background-image: inherit;
  background-size: cover;
  filter: blur(20px);
  transform: scale(1.2);
}

.subpage-swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.workCard {
  border-radius: 30px;
  background-color: white;
}

.tooltip {
  --tooltip-color: #000;
  --tooltip-text-color: #fff;
}

@media screen and (min-width: 1024px) {
  .custom-padding-lg {
    padding-left: var(--padding-desktop);
    padding-right: var(--padding-desktop);
  }
}
